.navbar{
	height: 60px;
}
body{
	padding-top: 90px;
}
.navbar-brand{
	line-height: 30px;
	font-size: 1.2em !important;
}
#logo{
	width: 30px;
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
.Good{
	background: #33bf1e !important;
}
.Bad{
	background: #bf4b1e !important;
}
.logo{
	font-weight: bold !important;
}